:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: 	#0a0f1e;
}

body {
  background-color: 	#0a0f1e  !important;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

.custom-navbar {
  background-color: #0a0f1e;
  color: #cdc9c9;
  border-bottom: 2px solid #61217f;
}

.sidebar-header {
  color: white;
}

